body {
  padding: 0;
  margin: 0;
  background: #FFF7E4;
}

/* Bootstrap classes */

.btn-social-discord {
  background-color: #7289DA;
  margin: 10px;
}

.btn-social-discord img {
  max-height: 64px;
}

.btn-social-wiki {
  background-color: #264239;
  margin: 10px;
}

.btn-social-wiki img {
  max-height: 64px;
}

.btn-social-youtube {
  background-color: #FF0000;
  margin: 10px;
}

.btn-social-youtube img {
  max-height: 64px;
}

.btn-social-twitter {
  background-color: #1d9bf0;
  margin: 10px;
}

.btn-social-twitter img {
  max-height: 64px;
}

.btn-social-reddit {
  background-color: #ff4500;
  margin: 10px;
}

.btn-social-reddit img {
  max-height: 64px;
}

.btn-social-steam {
  background-color: #2C2E35;
  margin: 10px;
}

.btn-social-steam img {
  max-height: 64px;
}

/*--- navigation bar ---*/

.navbar {
  background: #70695c;
}

.breadcrumb-item + .breadcrumb-item::before {
  color: #FFF7E4;
  font-size: 1.25rem;
}

.nav-link,
.navbar-brand {
  color: #FFF;
}

@media (max-width: 360px) {
  .navbar-brand {
    font-size: 5vw;
  }

  .breadcrumb-item + .breadcrumb-item::before {
    font-size: 5vw;
  }
}

a.nav-link,
a.navbar-brand {
  cursor: pointer;
}

.nav-link {
  margin-right: 1em;
}

.nav-link:hover {
  color: #FFF;
}

.navbar-collapse {
  justify-content: flex-end;
}

.navbar .dropdown-menu {
  background: #70695c;
  margin-top: 0.4375rem; /* Align to bottom of .navbar */
  border-radius: 0;
  border: none;
}

.navbar .dropdown-menu > .dropdown-item {
  color: #FFF;
}

/* Disable Bootstrap styling - following the surrounding navbar styling */
.navbar .dropdown-menu > .dropdown-item:hover,
.navbar .dropdown-menu > .dropdown-item:active,
.navbar .dropdown-menu > .dropdown-item:focus {
  background: none;
}

#full-width-image-container img {
  display: block;
  margin: auto;
  width: 100%;
  height: auto;
  max-width: 100%;
}

#full-height-image-container {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

#full-height-image-container img {
  flex-shrink: 0;
  max-width: none;
}

img.horizontal-fades {
  mask-image: linear-gradient(
      to right,
      transparent 0%,
      black 100px,
      black calc(100% - 100px),
      transparent 100%
  );
}

#full-height-image-container .overlay-title {
  position: absolute;
  top: 35%;
  translate: 0 -50%;
  width: 100%;
  text-align: center;
  color: #FFFFFF;
  font-size: clamp(3.5rem, 10vw, 8rem);
  font-weight: normal;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

#wrapper {
  /*display: flex;*/
  /*flex-direction: row;*/

  display: grid;
  grid-template-columns: 1fr auto;
  gap: 1rem;
}

#wrapper > main {
  flex: 1 0 auto;
  max-width: 960px;
}

#description {
  text-align: center;
  padding-top: 50px;
}

#description > .row {
  margin: 0;
}

#description h1 {
  color: #2f2b22;
}

#description p {
  color: #2f2b22;
  font-size: 1.1rem;
  line-height: 1.5;
  margin-bottom: 25px;
}

.socials.inline {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.socials.sticky {
  position: sticky;
  top: 56px;

  display: none;
  flex-direction: column;

  align-self: start;
  flex: 0 0 auto;

  @media (min-width: 768px) {
    display: flex;
  }
}

a.game-tile {
  font: inherit;
  color: inherit;
  text-decoration: none;
}

a.game-tile:hover > h3,
a.game-tile:active > h3,
a.game-tile:focus  > h3{
  text-decoration: underline;
}

#features {
  margin: 4em auto;
  padding: 1em;
  position: relative;
}

#feature-title {
  color: #333;
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
}

#features img {
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  margin-bottom: 16px;
}

.video-container {
  margin-bottom: 50px;
}

.text-container {
  max-width: 40em;
  margin: 0 auto;
  padding: 0 15px;
}

.page-footer {
  background-color: #70695c;
  color: #FFF;
  padding: 60px 0 30px;
}

.page-footer a {
  color: #FFF;
}

.page-footer h6 {
  margin-top: -0.28125rem;
}

.page-footer .steam-widget {
  display: block;
  position: relative;
  margin-bottom: 1.5rem;

  overflow: clip;
  padding-bottom: 3px;
}

.page-footer .steam-widget > .normal {
  filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.4));
}

.page-footer .steam-widget > .hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  visibility: hidden;
}

.page-footer .steam-widget:hover > .hover,
.page-footer .steam-widget:focus > .hover {
  visibility: visible;
}

.page-footer iframe {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.footer-copyright {
  color: #FFF;
  padding: 40px 0;
}